@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ace_editor.ace-twilight::-webkit-scrollbar {
  width: 12px;
}

.ace_editor.ace-twilight::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 6px;
}

.ace_editor.ace-twilight::-webkit-scrollbar-track {
  background-color: #000;
}

/* Firefox */
.ace_editor.ace-twilight {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #000;
}
